h1{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

h2{
    margin: 20px 0 5PX 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
}

body{
    background-color: rgb(222, 222, 225);
}

.btnGroup{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.btn{
    background-color: blue;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: darkblue;
}

.btn.orange{
    background-color: orange;
}

.text{
    text-align: center;
}

.underline {
    text-decoration: underline;
    display: block;
    margin: 5px;
}

.hidden{
    display: none;
}

.step[data-step="3"] {
    display: flex; /* Utiliser Flexbox pour centrer */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.step[data-step="3"] .btnGroup {
    display: flex; /* Utiliser Flexbox pour btnGroup */
    flex-wrap: wrap; /* Permet aux boutons de passer à la ligne */
    justify-content: center; /* Centre les boutons dans le conteneur */
    gap: 10px; /* Espacement entre les boutons */
    margin: 10px; /* Ajustez le margin selon vos besoins */
    max-width: 60%; /* Empêche le débordement du conteneur */
}

.step[data-step="3"] .btn {
    flex: 1 1 calc(33.33% - 10px); /* Chaque bouton prend 1/3 de la largeur, moins l'espace */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
    margin: 0; /* Supprime les marges externes */
    padding: 10px; /* Ajoutez du padding pour le style */
    height: 40px;
    white-space: nowrap;
    max-width: 33%;
    min-width: 250px;
}

.step[data-step="4"]{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step[data-step="4"] .btnGroup{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 10px;
}

.btn4{
    border: 5;
    border-color: #ffb60b;
    background-color: white;
    color: black;
    font-size: 12px;
    min-height: 50px;
    min-width: 50px;
    max-width: 80px;
    border-radius: 50%;
    text-align: center;
    white-space: normal;
    display: inline-block;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.btn4:hover{
    background-color: #ffb60b;
}

.btn4.active{
    background-color: #ffb60b;
}

#backButton {
    display: block;
    margin: 20px auto;

}

#messageDisplay, #tracageDisplay {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#messageDisplay img {
    margin : 5px;
    width: 20%;
    height: 100px;
}

.checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    color: green;
    margin-left: 10px;
}

.checked {
    background-color: green;
    color: white;
}

.crossed {
    background-color: red;
    color: white;
}

#textBoxDisplay{
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn4.hidden{
    display: block;
}

#menuDeroulant {
    margin: 10px 0;
}

#menuDeroulant label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#optionsReleve {
    padding: 5px;
    font-size: 16px;
}

